<a
  class="
    block text-white font-semibold outline-none bg-gray-800 w-full rounded-full
    px-12 py-3 text-sm focus:outline-none focus:ring sm:w-auto
  "
  href="<%= path %>"
>
  <%= yield %>
</a>
