<a
  class="
    block w-full rounded-full border border-gray-800 px-12 py-3 text-sm
    background-white font-medium focus:outline-none focus:ring sm:w-auto
  "
  href="<%= path %>"
>
  <%= yield %>
</a>
