<div class="flex items-start gap-4">
  <span class="shrink-0 rounded-lg bg-gray-800 text-white p-4">
    <%= partial.icon %>
  </span>

  <div>
    <h2 class="text-lg font-bold">
      <%= partial.title %>
    </h2>

    <p class="mt-1 text-sm">
      <%= partial.text %>
    </p>
  </div>
</div>
