<p class="text-8xl font-extrabold mb-4"><%= partial.step %></p>
<div class="bg-white col-span-3">
  <h3 class="text-3xl font-semibold mb-2"><%= partial.title %></h3>
  <p class="mb-4">
    <%= partial.content %>
  </p>
</div>
