<div id="<%= dom_id upload %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Key:</strong>
    <%= upload.key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expiry:</strong>
    <%= upload.expiry %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Remaining uses:</strong>
    <%= upload.remaining_uses %>
  </p>
</div>
