<section class="px-4 py-16 flex flex-col gap-8 mx-auto max-w-screen-lg">
  <div id="browser-upload">
    <h2 class="font-semibold text-4xl mb-8">Upload
    </h2>

    <%= render "form", upload: @upload %>

    <div>
    </div>

    <div class="flex my-2 text-3xl font-semibold items-center text-gray-800">
      <div class="flex-grow border-t h-px mr-3"></div>
      OR
      <div class="flex-grow border-t h-px ml-3"></div>
    </div>
  </div>
  <div class="cli-upload">
    <h1 class="font-semibold text-4xl mb-8">Upload via API</h1>
    <p class="mb-8">Upload files using Data Dead Drop's API. We recommend your favourite HTTP
      client.
    </p>

    <div
      data-controller="tabs"
      data-tabs-index-value="0"
      data-tabs-active-tab-class="border-b-2 border-gray-800 text-gray-800"
    >
      <div class="sm:hidden mt-8">
        <label for="tab" class="sr-only">Tab</label>

        <select
          id="tab"
          class="w-full rounded-md border-gray-200"
          data-action="change->tabs#change"
        >
          <option select>Curl</option>
          <option>Wget</option>
          <option>HTTPie</option>
        </select>
      </div>

      <div class="hidden sm:block mt-8">
        <nav class="-mb-px flex gap-6 border-b border-gray-200">
          <a
            href="#curl"
            data-tabs-target="tab"
            data-action="click->tabs#change"
            class="
              inline-flex shrink-0 items-center gap-2 px-1 pb-4 text-sm font-medium
              text-gray-500 hover:border-gray-300 hover:text-gray-700
            "
          >
            Curl
          </a>

          <a
            href="#httpie"
            data-tabs-target="tab"
            data-action="click->tabs#change"
            class="
              inline-flex shrink-0 items-center gap-2 px-1 pb-4 text-sm font-medium
              text-gray-500 hover:border-gray-300 hover:text-gray-700
            "
          >
            HTTPie
          </a>

          <a
            href="#wget"
            data-tabs-target="tab"
            data-action="click->tabs#change"
            class="
              inline-flex shrink-0 items-center gap-2 px-1 pb-4 text-sm font-medium
              text-gray-500 hover:border-gray-300 hover:text-gray-700
            "
          >
            Wget
          </a>

        </nav>
      </div>

      <div id="curl" class="py-4" data-tabs-target="panel">
        <%= render "components/code" do %>
          curl https://datadeaddrop.com/upload \<br>
          &nbsp;&nbsp;-X POST -H "Accept: application/json" \<br>
          &nbsp;&nbsp;-F "upload[data]=@file.txt" -F "upload[expiry]=10" -F
          "upload[uses]=3"
        <% end %>
      </div>

      <div id="httpie" class="hidden py-4" data-tabs-target="panel">
        <%= render "components/code" do %>
          http POST https://datadeaddrop.com/upload \<br>
        <% end %>
      </div>

      <div class="hidden py-4" data-tabs-target="panel">
        <%= render "components/code" do %>
          wget --post-file=file.txt https://datadeaddrop.com/upload
        <% end %>
      </div>
    </div>
  </div>

</section>
